@import url('https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
    --font-noto: 'Noto Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --color-semi-white: #fcffff;
    --color-gray-dark: #333;
    --color-black: #000;
    --color-primary: #0075bc;
    --color-blue-link: #2214e0;
}

html{
    background-color: var(--color-semi-white);
    font-family: var(--font-noto);
    color: var(--color-gray-dark);
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
}

h1{
    font-family: var(--font-poppins);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
