---
import Layout from '../layouts/Layout.astro';
import DynamicBanner from '../components/DynamicBanner.astro';
import ServicesComponent from '../components/Services.astro';
---

<Layout pageTitle="Services - Ephemeral SL">
    <DynamicBanner 
        pageType="services"
        title="Our Services"
        description="Discover our range of comprehensive technology services designed to help your business thrive in the digital age."
    />
    
    <section id="services" class="pt-12">
        <ServicesComponent />
    </section>
</Layout>