---
const {title, description, description2} = Astro.props;
---

<div class="max-w-4xl justify-center items-center text-center mx-auto p-6 my-6">
    <h2 class="text-4xl font-bold text-gray-800 pb-4 mb-4">{title}</h2>
    <span class="text-lg mb-6">{description}</span>
    <p class="text-lg mb-6">{description2}</p>
</div>