---
import Navbar from '../components/Navigation.astro';

const {pageTitle} = Astro.props;
---
<!doctype html>
<html lang="es" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="h-full m-0 p-0 w-full">
		<Navbar />
		<main class="w-full h-full">
		    <slot />
		</main>
	</body>
</html>

